<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />  
    <add key="Omd-Vsts-Test-Nuget" value="https://ontariomd.pkgs.visualstudio.com/_packaging/Test-Nuget/nuget/v3/index.json" />
  </packageSources>

  <!-- Used to store credentials -->
  <packageSourceCredentials>
    <Omd-Vsts-Test-Nuget>
      <add key="Username" value="dev-username" />
      <add key="Password" value="dev-password" />
    </Omd-Vsts-Test-Nuget>
  </packageSourceCredentials>

  <!-- Used to disable package sources  -->
  <disabledPackageSources />
  
  
  <!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror
    -->
  <apikeys>
    <add key="https://ontariomd.pkgs.visualstudio.com/_packaging/Test-Nuget/nuget/v3/index.json" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyY2MwZDhlMC00ZTNlLTZiNDEtYmZkYi04MjljZThiZTI1NzUiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzkyNWRlMjMtMTk2MC00Y2UyLTg4MzktMmM5NzQxMTE0NDQyIiwic2lkIjoiZTkwMzRkZjQtY2Q3ZS00NTA4LThlMjEtMjdhNWI5NjQwOTg2IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZjNkMmZhZTYtYTJjMC00ODc3LTliYzQtZTI0MWYyYzA5MjM3IiwibmJmIjoxNTMxNTEzNjQyLCJleHAiOjE1MzkyODk2NDJ9.I8vR5NOkM-3JedHz-0gB06W05I4Wvvlmu8hDz1tlVyv-gveH3qH6VjC-RLQOy0LtDNcbf0Od3SWNfQkOlim3CFv9sNMs9q9x8TAl9DZiaoGvE0H-2ZPOWLvtr8zHm6LY9CNv33Z70MDPLZqGnwp1m3g_RkGIAleHqzt99b1upbcnbHJWLWQCXFro6T4CP2seY3KUX8ZpJGqBwFVjnz5qCNuTnrGiZbmJ99HLBo0c9Ye0DLte3g8Od9iR3rAFKkQqsd5d0qlvn_6-3g6PPiGhabeu_UlvchFCXtu4rqH0xBJ4n2eCQeAM2zVMeThUo4jphZbwMAIHaFKy-YNu-P253A" />
  </apikeys>
</configuration>