<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />  
    <add key="Omd-Vsts-Test-Nuget" value="https://ontariomd.pkgs.visualstudio.com/_packaging/Test-Nuget/nuget/v3/index.json" />
  </packageSources>

  <!-- Used to store credentials -->
  <packageSourceCredentials>
    <Omd-Vsts-Test-Nuget>
      <add key="Username" value="dev-username" />
      <add key="Password" value="dev-password" />
    </Omd-Vsts-Test-Nuget>
  </packageSourceCredentials>

  <!-- Used to disable package sources  -->
  <disabledPackageSources />
  
  
  <!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror
    -->
  <apikeys>
    <!--<add key="https://ontariomd.pkgs.visualstudio.com/_packaging/Test-Nuget/nuget/v3/index.json" value="encrypted_api_key" />-->
  </apikeys>
</configuration>